body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.controls {
  margin-bottom: 20px;
}

.lift-sim {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 800px;
}

.floor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  height: 120px;
}

.lift-shaft {
  display: flex;
  /* justify-content: space-between; */
  align-items: end;
  gap: 10px;
  height: 100%;
  background-color: red;
  padding-left: 1rem;
  padding-right: 1rem;
}

.lift {
  width: 60px;
  height: 80px;
  background-color: #f0f0f0;
  border: 2px solid #333;
  display: flex;
  font-weight: bold;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  /* position: absolute;
  bottom: 10px; */
}

.door {
  width: 30px;
  height: 100%;
  background: black;
  transition: transform 2500ms ease-in-out;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.floor-number {
  font-weight: bold;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .lift-sim {
    max-width: 100%;
  }

  .floor {
    flex-direction: column;
    height: auto;
  }

  .lift-shaft {
    width: 100%;
    justify-content: center;
  }

  .buttons {
    flex-direction: row;
    margin-top: 10px;
  }
}
